<%- include("header") -%> 

    <div class="titles">
      <h1><%=title%></h1>
    </div> 
    

    <div class="box">

    <%  items.forEach(i=>{        %>
        <div class="item">
          <input type="checkbox">
          <p> <%= i.name %>  </p> 
        </div>
    <%  })                        %>
    
      <form action="/" class="item" method="post">
        <input
          type="text"
          name="newItem"
          id="newItem"
          placeholder="New Item"
          autocomplete="off"
        />
        <button type="submit" name="btnName" value=<%=title%>>+</button>
    </div>

    
    <div class="titles">
      <% if(title ==="Work List") {%> 
      <a href="/">Normal List </a>
      <% }else {%>
        <a href="/2">Work List</a>
        <% } %> 
    </div>
      
<%- include("footer") -%>    
  
