<%- include("header") -%> 

    <div class="titles">
      <h1><%=title%></h1>
    </div> 
    

    <div class="box">

      <form action="/delete" method="post">
        <%  items.forEach(i=>{                        %>
          <div class="item">
            <input name="check" value="<%= i.id %> " onchange="this.form.submit()" type="checkbox" >   <!-- Each items in our document is being iterated. We can write 2 <p> tags inside our div. 1st <p> can have print the id each item of collection and 2nd <p> can show the item.name. Here instead of printing the 1st <p> i.e id, we are assigning the id to each check box -->
            <p><%= i.name %></p> 
          </div>        
        <%  })                                        %>
      </form>
        
    
      <form  action="/" class="item" method="post">
        <input
          type="text"
          name="newItem"
          id="newItem"
          placeholder="New Item"
          autocomplete="off"
        />
        <button type="submit" name="btnName" value=<%=title%>>+</button>
    </div>

    
    <div class="titles">
      <% if(title ==="Work List") {%> 
      <a href="/">Normal List </a>
      <% }else {%>
        <a href="/2">Work List</a>
        <% } %> 
    </div>
     
<%- include("footer") -%>    
  
